@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,500&family=Roboto:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.col-3{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-5{
    width: 41.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-7{
    width:58.33% ;
    padding-left: 12px;
    padding-right: 12px;
}
.col-8 {
    width: 66.66%;
    padding-right: 12px;
    padding-left: 12px;
}
.col-12{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.comments-card{
    border-radius: 0px 20px 20px 20px;
background: #F1F2F5;
}
.bg-black{
    background-color: #000;
}
.bg-blue {
    background: rgba(44, 73, 254, 0.80);
  }
.h-100{
    height: 100%;
}
.d-flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-none{
    display: none;
}

.align-item-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space {
    justify-content: space-between;
}
.flex-direction-col{
    flex-direction: column;
}

.f-events {
    color: #2C49FE;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    /* 48.6px */
}

.f-free {
    color: #01C8FF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.f-logout {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.f-journey {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

.f-journey:hover {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}
.f-nav{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.f-semper{
    max-width: 642px;
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
opacity: 0.6000000238418579;
}
.f-dictumst {
    max-width: 857px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
    opacity: 0.6000000238418579;
}
.f-home{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6000000238418579;
}
.f-jhone{
    color: #000;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 72px */
}
.f-li{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6000000238418579;
}
.f-rec{
    width: 115px;
height: 8px;
flex-shrink: 0;
}
.f-dict{
    max-width: 719px;
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6000000238418579;
margin-right: auto;
margin-left: auto
}
.f-tellus{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 72px */
}
.f-gallery{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 72px */
}
.f-comment{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
}
.f-username{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
}
.f-dict-2{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6000000238418579;
}
.f-remove{
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
opacity: 0.6000000238418579;
}
.f-ul-main{
    color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.f-ul{
    color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.f-lorem-footer{
    max-width: 346px;
    color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.f-showmore {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 150%;
  }
  .f-credits{
    color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
.mr-50 {
    margin-right: 50px;
}
.ml-20{
    margin-left: 20px;
}
.mr-13{
    margin-right: 13px;
}
.ml-90{
    margin-left: 90px;
}
.mb-40{
    margin-bottom: 40px;
}
.ml-80{
    margin-left: 80px;
}
.mb-12 {
    margin-bottom: 12px;
  }
.mt-100{
    margin-top: 100px;
}
.ml-40{
    margin-left: 40px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mt-35{
    margin-top: 35px;
}
.mt-50{
    margin-top: 50px;
}
.mt-25{
    margin-top: 25px;
}
.mt-70{
    margin-top: 70px;
}
.mt-90{
    margin-top: 90px;
}
.mt-130{
    margin-top: 130px;
}
.pl-60{
    padding-left: 60px;
}
.pt-16{
    padding-top: 16px;
}
.pl-20{
    padding-left: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-16{
    padding-bottom: 16px;
}
.pr-60{
    padding-right: 60px;
}
.pt-40{
    padding-top: 40px;
}
.pl-90{
    padding-left: 90px;
}
.pt-90{
    padding-top: 90px;
}
.btn-logout {
    border-radius: 23px;
    background: #2C49FE;
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
    border: none;
}

.button-2 {
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 23px;
    background: rgba(44, 73, 254, 0.10);
    border: none;
    cursor: pointer;
}

.button-2:hover {
    border-radius: 23px;
    background: #2C49FE;
    display: inline-flex;
    padding: 11px 28px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    cursor: pointer;
}
.button-comment{
    /* display: inline-flex; */
height: 56px;
padding: 11px 36px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 36px;
background: #2C49FE;
border: none;
cursor: pointer;
}
.gird-box {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.grid-item3 {
    grid-row: 1/3;
    grid-column: 3/4;
}

.grid-item4 {
    grid-row: 2/3;
    grid-column: 1/3;
}

.grid-item5 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-item6 {
    grid-row: 3/4;
    grid-column: 2/4;
}
.w-100{
    width: 100%;
}
input{
    width: 1320px;
height: 70px;
flex-shrink: 0;
border-radius: 35px;
border: 1px solid #9CA1BE;
background: #FFF;
padding-left: 77px;
}
.relative{
    position: relative;
}
.p-absolute{
position: absolute;
right: 7px;
top: 8px;
}
.img-absolute{
    position: absolute;
    left: 7px;
    top: 8px;
}
@media (min-width:576px) {
   .col-sm-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
   }
    .col-sm-12{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .sm-pt-0{
        padding-top: 0;
    }
    .ml-sm-40{
        margin-left: 40px;
    }
   .mt-sm-130{
    margin-top: 130px;
   }
   .d-flex-sm{
    display: flex;
   }
   .sm-d-none{
    display: none;
   }
   .flex-direction-row{
    flex-direction: row;
   }
}
@media (min-width:768px) {
   .col-md-3{
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
   }
    .col-md-6{
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
   }
}
@media (min-width:992px) {
   .col-lg-4{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
   }
    .col-lg-5{
        width: 41.66%;
        padding-right: 12px;
        padding-left: 12px;
       }
       .col-lg-6{
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
       }
    .col-lg-7{
    width: 58.33%;
    padding-right: 12px;
    padding-left: 12px;
   }
}
@media (max-width:992px) {
  label[for="iconbar"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 30px;
  }

  label[for="iconbar"]>span {
    width: 100%;
    height: 4px;
    background-color: rgb(91, 162, 224);
    z-index: 1;
  }

  input[type="checkbox"]:checked+ul.small-screen {
    right: 0;
    pointer-events: all;
    opacity: 1;
  }

  .small-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    right: -1000px;
    background-color: #1E71FF;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: all 800ms linear;
    top: 0;
  }

  .mx-ml-0 {
    margin-left: 0px;
  }

  .mx-mr-0 {
    margin-right: 0px;
  }

  .mx-my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width:992px) {
    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .grid-item2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .grid-item3 {
        grid-row: 1/4;
        grid-column: 3/4;
    }
    
    .grid-item4 {
        grid-row: 5/6;
        grid-column: 1/4;
    }
    
    .grid-item5 {
        grid-row: 9/10;
        grid-column: 1/2;
    }
    
    .grid-item6 {
        grid-row: 7/8;
        grid-column: 1/4;
    }
}
